/* Define o box model para todos os elementos */
* {
	box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
	background: #101113; /* Cor de fundo */
	display: flex;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	flex-direction: column; /* Organiza os elementos em coluna */
	font-family: 'Montserrat', sans-serif; /* Fonte utilizada */
	height: 100vh; /* Altura igual à altura da janela do navegador */
	margin: auto; /* Centraliza o conteúdo verticalmente */
}

/* Estilos para os cabeçalhos */
h1 {
	font-weight: bold; /* Define o peso da fonte como negrito */
	margin: 0; /* Remove as margens padrão */
}

h2 {
	text-align: center; /* Centraliza o texto */
}

/* Estilos para os parágrafos */
p {
	font-size: 14px; /* Tamanho da fonte */
	font-weight: 100; /* Peso da fonte */
	line-height: 20px; /* Altura da linha */
	letter-spacing: 0.5px; /* Espaçamento entre letras */
	margin: 20px 0 30px; /* Margens superior e inferior */
}

/* Estilos para o elemento <span> */
span {
	font-size: 12px; /* Tamanho da fonte */
}

/* Estilos para os links */
a {
	color: #333; /* Cor do texto */
	font-size: 14px; /* Tamanho da fonte */
	text-decoration: none; /* Remove sublinhado padrão */
	margin: 15px 0; /* Margens superior e inferior */
}

/* Estilos para os botões */
button {
	/* Formato do botão */
	border-radius: 20px;
	border: 1px solid #F2eee3;
	background-color: #F2eee3;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in; /* Efeito de transição suave */
	border-color: #0d0e0f;
	cursor: pointer;
}

/* Estilos para o botão quando o cursor passa por cima */
button:hover {
	background-color: #b8ceed;
	transition: 0.5s; /* Tempo da transição */
}

/* Estilos para o botão quando pressionado */
button:active {
	transform: scale(0.95); /* Reduz o tamanho do botão quando pressionado */
}

/* Estilos para o botão quando está focado */
button:focus {
	outline: none; /* Remove a borda ao focar */
}

/* Estilos para o botão "ghost" */
button.ghost {
	background-color: transparent;
	border-color: white;
	color: white;
}

/* Estilos para o botão "ghost" quando o cursor passa por cima */
button.ghost:hover {
	background-color: #ffffff4c;
	transition: 0.5s; /* Tempo da transição */
}

/* Estilos para o formulário */
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

/* Estilos para os inputs */
input {
	background-color: #f2eee3;
	border: none;
	border-radius: 5px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}


/* Estilos para o container principal */
.container {
	background-color: #fff; /* Fundo branco */
	border-radius: 10px; /* Bordas arredondadas */
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), /* Sombra */
				0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative; /* Posição relativa */
	overflow: hidden; /* Esconde o conteúdo que ultrapassa o container */
	width: 768px; /* Largura máxima do container */
	max-width: 100%; /* Largura máxima responsiva */
	min-height: 480px; /* Altura mínima do container */
}

/* Estilos para o container do formulário */
.form-container {
	position: absolute; /* Posicionamento absoluto */
	top: 0;
	height: 100%; /* Altura total */
	transition: all 0.6s ease-in-out; /* Transição suave */
}

/* Estilos para o contêiner de login */
.sign-in-container {
	left: 0;
	width: 50%; /* Largura do contêiner de login */
	z-index: 2; /* Ordem de empilhamento */
}

/* Estilos para o contêiner de registro */
.sign-up-container {
	left: 0;
	width: 50%; /* Largura do contêiner de registro */
	opacity: 0; /* Opacidade inicial */
	z-index: 1; /* Ordem de empilhamento */
}

/* Estilos quando o painel direito está ativo */
.container.right-panel-active .sign-in-container {
	transform: translateX(100%); /* Move para a direita */
}

/* Estilos quando o painel direito está ativo */
.container.right-panel-active .sign-up-container {
	transform: translateX(100%); /* Move para a direita */
	opacity: 1; /* Torna visível */
	z-index: 5; /* Ajusta a ordem de empilhamento */
	animation: show 0.6s; /* Animação de exibição */
}

/* Definição da animação */
@keyframes show {
	0%,
	49.99% {
		opacity: 0; /* Opacidade inicial */
		z-index: 1; /* Ordem de empilhamento */
	}
	50%,
	100% {
		opacity: 1; /* Opacidade final */
		z-index: 5; /* Ordem de empilhamento */
	}
}

/* Estilos para o contêiner de overlay */
.overlay-container {
	position: absolute; /* Posicionamento absoluto */
	top: 0;
	left: 50%;
	width: 50%; /* Largura do overlay */
	height: 100%; /* Altura total */
	overflow: hidden; /* Esconde o conteúdo que ultrapassa */
	transition: transform 0.6s ease-in-out; /* Transição suave */
	z-index: 100; /* Ordem de empilhamento */
}

/* Estilos quando o painel direito está ativo */
.container.right-panel-active .overlay-container {
	transform: translateX(-100%); /* Move para a esquerda */
}

/* Estilos para o overlay */
.overlay {
	/* Background gradiente */
	background: #0c0d0e;
	background: -webkit-linear-gradient(to right, #0c0d0e, #0c0d0e);
	background: linear-gradient(to right,#0c0d0e, #96989b);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #fff; /* Cor do texto */
	position: relative; /* Posição relativa */
	left: -100%; /* Posicionamento inicial */
	height: 100%; /* Altura total */
	width: 200%; /* Largura inicial */
	transform: translateX(0); /* Transformação inicial */
	transition: transform 0.6s ease-in-out; /* Transição suave */
}

/* Estilos quando o painel direito está ativo */
.container.right-panel-active .overlay {
	transform: translateX(50%); /* Move para a direita */
}

/* Estilos para o painel do overlay */
.overlay-panel {
	position: absolute; /* Posicionamento absoluto */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px; /* Preenchimento */
	text-align: center; /* Alinhamento de texto */
	top: 0;
	height: 100%; /* Altura total */
	width: 50%; /* Largura do painel do overlay */
	transform: translateX(0); /* Transformação inicial */
	transition: transform 0.6s ease-in-out; /* Transição suave */
}

/* Estilos para a animação do painel esquerdo do overlay */
.overlay-left {
	transform: translateX(-20%); /* Move para a esquerda */
}

/* Estilos quando o painel esquerdo do overlay está ativo */
.container.right-panel-active .overlay-left {
	transform: translateX(0); /* Transformação inicial */
}

/* Estilos para o painel direito do overlay */
.overlay-right {
	right: 0;
	transform: translateX(0); /* Transformação inicial */
}

/* Estilos quando o painel direito do overlay está ativo */
.container.right-panel-active .overlay-right {
	transform: translateX(20%); /* Move para a direita */
}

/* Estilos para o contêiner de mídias sociais */
.social-container {
	margin: 20px 0; /* Margem superior e inferior */
}

/* Estilos para os links das mídias sociais */
.social-container a {
	border: 1px solid #0c0d0e;
	border-radius: 50%; /* Bordas arredondadas */
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px; /* Margens */
	height: 40px; /* Altura */
	width: 40px; /* Largura */
	background: #f2eee3; /* Fundo */
}

/* Estilos quando o cursor passa por cima dos links das mídias sociais */
.social-container a:hover {
	background-color: #96989b; /* Mudança de cor no hover */
	transition: 0.5s; /* Tempo da transição */
}
